<aside
    class="flex w-[280px] flex-col bg-[var(--color-primary-dark)] text-white">

    <div class="border-b border-pink-900 p-8">

        <h1 class="text-3xl">

            🌙 Journal

        </h1>

    </div>

    <nav class="flex-1 p-4">

        <a
            routerLink="/"
            routerLinkActive="bg-pink-700"
            [routerLinkActiveOptions]="{exact:true}"
            class="mb-2 block rounded-xl px-4 py-3 hover:bg-pink-700">

            🏠 Dashboard

        </a>

        <a
            routerLink="/salah"
            routerLinkActive="bg-pink-700"
            class="mb-2 block rounded-xl px-4 py-3 hover:bg-pink-700">

            🕌 Salah

        </a>

        <a
            routerLink="/quran"
            routerLinkActive="bg-pink-700"
            class="mb-2 block rounded-xl px-4 py-3 hover:bg-pink-700">

            📖 Quran

        </a>

        <a
            routerLink="/seerah"
            routerLinkActive="bg-pink-700"
            class="mb-2 block rounded-xl px-4 py-3 hover:bg-pink-700">

            📚 Seerah

        </a>

        <a
            routerLink="/settings"
            routerLinkActive="bg-pink-700"
            class="block rounded-xl px-4 py-3 hover:bg-pink-700">

            ⚙ Settings

        </a>

    </nav>

    <div class="border-t border-pink-900 p-6">

        🔥 14 Day Streak

    </div>

</aside>